<h1>New Moviegoer</h1>

<%= form_with(model: @moviegoer) do |form| %>
    <% if @moviegoer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@moviegoer.errors.count, "error") %> prohibited this moviegoer from being saved:</h2>
  
        <ul>
          <% @moviegoer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="actions">
      <%= form.submit "Add Moviegoer" %>
    </div>
<% end %>  