<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <% # changed with a selection %>
  <div class="field">
    <%= form.label :rating %><br>
    <%= form.select :rating, ['','G','PG','PG-13','R','NC-17'] %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <% # modified start years %>
  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, start_year: 1930 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
